.Home {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.img-cont {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.img-cont h3 {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    padding-left: 10rem;
}
.selfie {
    /* position: absolute; */
    /* top: 10%;
    left: 20%; */
    width: auto;
    height: 85%;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    border-style: solid;
    border-color: aliceblue;
    
}

.tech-list {
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-right: 1.875rem;
}

.Technologies {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.Technologies li {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    justify-content: center;
    align-items: center;
}

h3 {
    text-align: center;
    justify-content: center;
    align-items: center;
}

h3 a {
    padding-right: 9.375rem;
    color: rgb(46, 7, 7);
    font-size: 1.875rem;
}

h3 a:hover {
    transform: scale(1.2);
}

@media only screen and (max-width: 1300px) {  
    .Home {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        overflow: scroll;
      }
    }